html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

.MainMapContainer {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    font-family: 'abel', sans-serif;
}

header, footer {
    height: 55px;
    background-color: rgb(80, 219, 223)
}

#header {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 8px;
    letter-spacing: 3px;
}

.Content {
    display: flex;
}

#roomwrap {
    overflow:auto;
    width: 35%;
    height: 638px;
}

#room{
    height:100%;
    padding: 10px;
}

.listingBox{
    margin: 10px;
    border: 1px solid darkgray;
    font-size: 15px;
    font-family: ‘abel’, sans-serif;
    border-radius: 5px;
}



.listingBox:hover, .listingBoxHover {
    cursor: pointer;
    background-color: lightgray;
}

#name3{
    padding-top: 0;
    padding-left: 10px;
}

#addy3{
    padding-left: 10px;
    padding-right: 10px;
}

#name3:hover, #addy3:hover{
    cursor: pointer;
    text-decoration-line: underline;
}