html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}



body {
    height: 100%;
    background-image: url("../images/home.png");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    
}

html {
  height: 100%;
  max-width: 100%;
}


#goTo {
    font-size: 2vw;
    position: absolute;
    top:53%;
    left: 7%;
    color: white;
    text-decoration: none;
    font-family: 'abel', sans-serif;
    font-style: italic;
    opacity: 0.5;
}

  
  .pin {
    width: 5%;
    height: 10%;
    border-radius: 50% 50% 50% 0;
    background: #ee593b;
    position: absolute;
    transform: rotate(-45deg);
    right: 19%;
    top: 25%;
    margin: -1% 0 0 -1%;
  }
  .pin:after {
    content: "";
    width: 40%;
    height: 40%;
    margin: 8% 0 0 8%;
    background: white;
    position: absolute;
    top: 25%;
    right:32%;
    border-radius: 50%;
  }
  
  .bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  
  .pulse {
    background: #d6d4d4;
    border-radius: 50%;
    height: 2%;
    width: 3%;
    position: absolute;
    right: 20%;
    top: 35%;
    margin: 1% 0% 0% 0%;
    transform: rotateX(55deg);
    z-index: -2;
  }
  .pulse:after {
    content: "";
    border-radius: 50%;
    height: 95%;
    width: 100%;
    position: absolute;
    top:50%;
    right: 1%;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px white;
    animation-delay: 1.1s;
  }
  @keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
    }
  
    60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
    }
  
    80% {
      transform: translateY(-10px) rotate(-45deg);
    }
  
    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }
  